- extends 'smartmin/form.html'
- load smartmin temba compress
- load i18n

-block title
  -if parent
    {{org.name}}
  -else
    {{user_org.name|capfirst}}
-block subtitle
  -trans "Manage Logins"

-block extra-style
  {{block.super}}
  :css
    temba-checkbox {
      --fa-icon-fill-color: #999;
    }

-block fields
  %table.list{style:"margin-bottom:0px;"}
    %thead
      %tr
        %th
          -trans "Logins"
        %th.permission
          -trans "Admins"
        %th.permission
          -trans "Editors"
        %th.permission
          -trans "Viewers"
        %th.permission
          -trans "Surveyors"
        %th.permission
          -trans "Remove"

    %tbody
      %tr#admin-error.hide
        %td.alert.alert-error{colspan: 6}
          -trans "You must have at least one administator"
      - for user in org_users
        %tr
          %td
            {{user.email}}
            - if user.first_name or user.last_name
              ({{user.first_name}} {{ user.last_name}})
          - with group_fields|get:user as row_fields
            - for check_name in row_fields
              %td.check.permission.level-checkbox
                .m-auto(style="width:24px")
                  {{form|field:check_name}}
          %td.check.permission.level-checkbox
            .m-auto(style="width:24px")
              %temba-checkbox(name="")

      // pending invites
      -if invites
        %tr.invites-title
          %th(colspan=99)
            -trans "Pending Invitations"

      -for invite in invites
        %tr.invite
          %td.opacity-50
            {{invite.email}} (Invite Sent)
          %td.permission
            .flex.justify-center.opacity-25.pointer-events-none
              -if invite.user_group == "A"
                %temba-checkbox.pointer-events-none(name="" checked)
              -else
                %temba-checkbox.pointer-events-none(name="")
          %td.permission
            .flex.justify-center.opacity-25.pointer-events-none
              -if invite.user_group == "E"
                %temba-checkbox.pointer-events-none(name="" checked)
              -else
                %temba-checkbox.pointer-events-none(name="")
          %td.permission
            .flex.justify-center.opacity-25.pointer-events-none
              -if invite.user_group == "V"
                %temba-checkbox.pointer-events-none(name="" checked)
              -else
                %temba-checkbox.pointer-events-none(name="")
          %td.permission
            .flex.justify-center.opacity-25.pointer-events-none
              -if invite.user_group == "S"
                %temba-checkbox.pointer-events-none(name="" checked)
              -else
                %temba-checkbox.pointer-events-none(name="")
          - with invites_fields|get:invite as check_name
            %td.permission.invite-perm.invite-remove.level-checkbox
              .flex.justify-center
                {{form|field:check_name}}


  .card
    .title.mb-0.pb-0
      -trans "Invite New Users"

    .flex.w-full.items-end
      .pr-4.flex-grow
        {% render_field 'invite_emails' %}
      .group.w-48
        {% render_field 'invite_group' %}

-block form-buttons
  .form-actions.mt-4.ml-2
    %input.button-primary(type="submit" value="{{ submit_button_name }}")

- block summary
  %span.attn= object.name
  -trans "has"

  -if org.administrators.count == 1
    %span.attn= org.administrators.count
      -trans "Administrator"
    -trans ","
  -elif org.admnistrators.count == 0
    %span.attn
      -trans "No Administrator"
    -trans ","
  -else
    %span.attn= org.administrators.count
      -trans "Administrators"
    -trans ","

  -if org.editors.count == 1
    %span.attn= org.editors.count
      -trans "Editor"
    -trans ","
  -elif org.editors.count == 0
    %span.attn
      -trans "No Editors"
    -trans ","
  -else
    %span.attn= org.editors.count
      -trans "Editors"
    -trans ","

  -if org.viewers.count == 1
    %span.attn= org.viewers.count
      -trans "Viewer"
    -trans "and"
  -elif org.viewers.count == 0
    %span.attn
      -trans "No Viewers"
    -trans "and"
  -else
    %span.attn= org.viewers.count
      -trans "Viewers"
    -trans "and"

  -if org.surveyors.count == 1
    %span.attn= org.surveyors.count
      -trans "Surveyor."
  -elif org.surveyors.count == 0
    %span.attn
      -trans "No Surveyors."
  -else
    %span.attn= org.surveyors.count
      -trans "Surveyors."

- block extra-script
  {{block.super}}
  :javascript
    $(function() {
      // update the checkbox on click

      $("td.check temba-checkbox").on('click', function(){
        var ipt =  $(this);
        var cell = $(this).parent().parent("td.check");
        
        allCells = cell.parent().children('td.check');
        allCheckboxes = allCells.find("temba-checkbox");
        allCheckboxes.prop('checked', false);
        ipt.prop('checked', true);

        hasAdmin = false;
        // validate that we always have an admin first
        // to show error if no admin is remaining
        $("td.check").parent().find("temba-checkbox[id*='administrators']").each(function() {
           hasAdmin = hasAdmin || $(this).prop('checked')
        })

        if (!hasAdmin) {
          $('#admin-error').show();
        } else {
          $('#admin-error').hide();
        }

      });
    });
