-extends "smartmin/form.html"

-block pre-form
  -if handled
    %table.table.table-bordered
      %tr
        %td.urn= handled.contact.urn
        %td= handled.text
        %td.status= handled.status

      -if responses
        -for response in responses
          %tr
            %td.urn= response.contact.urn
            %td= response.text
            %td.status= response.status


-block extra-style
  {{ block.super }}
  :css
    td.urn { width: 100px; }
    td.status { width: 50px; }
